.overlay-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-panel {
    background: #111;
    border-radius: 12px;
    width: 80vw; 
    max-width: 1000px; 

    height: 80vh; 
    max-height: 900px; 

    overflow: hidden; 
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.overlay-panel-header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 8px 12px;
    background: #1e1e1e;
    color: white;
    height: 32px;
}

.overlay-panel-header .title {
    font-size: 16px;
    font-weight: 600;
}
.tab-btn {
    border: none;
    background: #ddd;
    cursor: pointer;
    border-radius: 4px;
}

    .tab-btn.active {
        background: #4287f5;
        color: white;
    }

.close-btn {
    top: 10px;
    right: 10px;
    background: #aa0000;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}


.overlay-question-content {
    padding: 15px;
    border-radius: 4px;
    gap: 20px;
    overflow-y: auto;
    z-index: 9999;
}

.overlay-champion-content {
    padding: 15px;
    border-radius: 4px;
    display: flex;
    gap: 20px;
}

.spells-column {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.spell-card {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
    background: #1e1e1e;
    border-radius: 8px;
    transition: transform 0.2s ease;
}

    .spell-card:hover {
        transform: scale(1.05);
    }

    .spell-card img {
        width: 50px;
        height: 50px;
    }

    .spell-card.selected {
        background: #555;
        border: 2px solid #aaa;
        transform: scale(1.05);
    }

.spell-details {
    width: 70%;
}

.spell-description {
    margin-top: 10px;
    font-size: 16px;
}


video {
    background-color: black;
    min-height: 400px;
}

@media(max-width: 768px) {
    video {
        min-height: 100px;
    }

    .overlay-champion-content {
        display: block;
    }

    .spell-description {
        margin-top: 10px;
        font-size: 12px;
    }

    .spell-card img {
        width: 25px;
        height: 25px;
    }

    .spell-card span {
        font-size: 10px;
    }

    .spells-column {
        width: 30%;
        display: contents;
        flex-direction: row;
        gap: 2px;
    }

    .tab-content {
        display: grid;
        gap: 5px;
    }

}